<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <style type="text/css">
        .container{
            text-align: center;
        }
    </style>
</head>
<body>
    {% if alert %}
        <script type="text/JavaScript">
            alert("{{ alert }}");
        </script>
    {% endif %}
    <form action="{% url 'signup_check' %}" method="POST">{% csrf_token %}
        <div class="container">
            <div class="comment">
                <h3>가입 정보를 입력해주세요 :)</h3>
            </div>
            <div class="email">
                <p>이메일</p>
                <p>{{ signupform.email }}</p>
            </div>
            <div class="password">
                <p>비밀번호</p>
                <p>{{ signupform.password }}</p>
            </div>
            <div class="nickname">
                <p>닉네임</p>
                <p>{{ signupform.nickname }}</p>
            </div>
            <div class="phone">
                <p>연락처</p>
                <p>{{ signupform.phone }}</p>
            </div>
            <div class="btn">
                <p><button type="reset" onclick='location.href="{% url 'log_in' %}"'>취소</button>
                <p><input type="submit" value="가입완료" /></p>
            </div>
        </div>
    </form>

</body>
</html>